<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.generator.persistence.dao.IGenPropertiesDao">
    <resultMap id="GenProperties" type="com.ares.generator.persistence.model.GenProperties">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="AUTHOR_" jdbcType="VARCHAR" property="author"/>
        <result column="BASE_PACKAGE_" jdbcType="VARCHAR" property="basePackage"/>
        <result column="CONTROLLER_PACKAGE_" jdbcType="VARCHAR" property="controllerPackage"/>
        <result column="DAO_PACKAGE_" jdbcType="VARCHAR" property="daoPackage"/>
        <result column="ENTITY_PACKAGE_" jdbcType="VARCHAR" property="entityPackage"/>
        <result column="FILE_PREFIX_" jdbcType="VARCHAR" property="filePrefix"/>
        <result column="FILE_SUFFIX_" jdbcType="VARCHAR" property="fileSuffix"/>
        <result column="GEN_LEVEL_" jdbcType="VARCHAR" property="genLevel"/>
        <result column="SERVICE_PACKAGE_" jdbcType="VARCHAR" property="servicePackage"/>
        <result column="TABLE_PREFIX_" jdbcType="VARCHAR" property="tablePrefix"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`
        ,`AUTHOR_`,`BASE_PACKAGE_`,`CONTROLLER_PACKAGE_`,`DAO_PACKAGE_`,`ENTITY_PACKAGE_`,`FILE_PREFIX_`,`FILE_SUFFIX_`,`GEN_LEVEL_`,`SERVICE_PACKAGE_`,`TABLE_PREFIX_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.generator.persistence.model.GenProperties">
        insert into `gen_properties` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{author,jdbcType=VARCHAR},
        #{basePackage,jdbcType=VARCHAR},
        #{controllerPackage,jdbcType=VARCHAR},
        #{daoPackage,jdbcType=VARCHAR},
        #{entityPackage,jdbcType=VARCHAR},
        #{filePrefix,jdbcType=VARCHAR},
        #{fileSuffix,jdbcType=VARCHAR},
        #{genLevel,jdbcType=VARCHAR},
        #{servicePackage,jdbcType=VARCHAR},
        #{tablePrefix,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.generator.persistence.model.GenProperties">
        update `gen_properties`
        <set>
            <if test="author!= null">
                `AUTHOR_`=#{author,jdbcType=VARCHAR},
            </if>
            <if test="basePackage!= null">
                `BASE_PACKAGE_`=#{basePackage,jdbcType=VARCHAR},
            </if>
            <if test="controllerPackage!= null">
                `CONTROLLER_PACKAGE_`=#{controllerPackage,jdbcType=VARCHAR},
            </if>
            <if test="daoPackage!= null">
                `DAO_PACKAGE_`=#{daoPackage,jdbcType=VARCHAR},
            </if>
            <if test="entityPackage!= null">
                `ENTITY_PACKAGE_`=#{entityPackage,jdbcType=VARCHAR},
            </if>
            <if test="filePrefix!= null">
                `FILE_PREFIX_`=#{filePrefix,jdbcType=VARCHAR},
            </if>
            <if test="fileSuffix!= null">
                `FILE_SUFFIX_`=#{fileSuffix,jdbcType=VARCHAR},
            </if>
            <if test="genLevel!= null">
                `GEN_LEVEL_`=#{genLevel,jdbcType=VARCHAR},
            </if>
            <if test="servicePackage!= null">
                `SERVICE_PACKAGE_`=#{servicePackage,jdbcType=VARCHAR},
            </if>
            <if test="tablePrefix!= null">
                `TABLE_PREFIX_`=#{tablePrefix,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `Id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `gen_properties`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="GenProperties">
        select
        <include refid="Base_Column_List"/>
        from `gen_properties`
        where `Id` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="GenProperties">
        select
        <include refid="Base_Column_List"/>
        from `gen_properties`
        <where>
            <if test="search != null">

            </if>
        </where>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.generator.persistence.model.query.GenPropertiesQuery" resultMap="GenProperties">
        select
        <include refid="Base_Column_List"/>
        from `gen_properties`
        <where>
            <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="getByUser" parameterType="java.lang.Long" resultMap="GenProperties">
        select
        <include refid="Base_Column_List"/>
        from `gen_properties`
        <where>
            `CREATOR_` = #{userId,jdbcType=BIGINT}
        </where>
        limit 1
    </select>
</mapper>
