<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.IArticlesDao">
    <resultMap id="Articles" type="com.ares.system.model.Articles">
        <id column="Id" jdbcType="BIGINT" property="id"/>
        <result column="Content" jdbcType="VARCHAR" property="content"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Status" jdbcType="VARCHAR" property="status"/>
        <result column="Type" jdbcType="VARCHAR" property="type"/>
        <result column="Title" jdbcType="VARCHAR" property="title"/>
        <result column="Creator" jdbcType="BIGINT" property="creator"/>
        <result column="CreateTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="Modifier" jdbcType="BIGINT" property="modifier"/>
        <result column="ModifyTime" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `Id`
        ,`Content`,`Name`,`Status`,`Title`,`Type`, `Creator`,`CreateTime`,`Modifier`, `ModifyTime`
    </sql>

    <insert id="insert" parameterType="com.ares.system.model.Articles">
        insert into `t_articles` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{content,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.system.model.Articles">
        update `t_articles`
        <set>
            <if test="content!= null">
                `Content`=#{content,jdbcType=VARCHAR},
            </if>
            <if test="name!= null">
                `Name`=#{name,jdbcType=VARCHAR},
            </if>
            <if test="status!= null">
                `Status`=#{status,jdbcType=VARCHAR},
            </if>
            <if test="title!= null">
                `Title`=#{title,jdbcType=VARCHAR},
            </if>
            <if test="type!= null">
                `Type`=#{type,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `Creator` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CreateTime` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `Modifier` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `ModifyTime` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `Id` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `t_articles`
        where `Id` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="Articles">
        select
        <include refid="Base_Column_List"/>
        from `t_articles`
        where `Id` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="Articles">
        select
        <include refid="Base_Column_List"/>
        from `t_articles`
        where 1=1
        <if test="search != null">
            and (`Title` like '%${search}%' or `Name` like '%${search}%')
        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CreateTime` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.system.model.Articles" resultMap="Articles">
        select
        <include refid="Base_Column_List"/>
        from `t_articles`
        where 1=1
        <if test="title != null">
            and `Title` like '%${title}%'
        </if>
        <if test="name != null">
            and `Name` like '%${name}%'
        </if>
        <if test="type != null">
            and `Type` = #{type}
        </if>
        <if test="status != null">
            and `Status` = #{status}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CreateTime`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CreateTime`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by `CreateTime` desc
    </select>
</mapper>
