<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.IArticlesDao">
    <resultMap id="Articles" type="com.ares.system.model.Articles">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="CONTENT_" jdbcType="VARCHAR" property="content"/>
        <result column="NAME_" jdbcType="VARCHAR" property="name"/>
        <result column="STATUS_" jdbcType="VARCHAR" property="status"/>
        <result column="TYPE_" jdbcType="VARCHAR" property="type"/>
        <result column="TITLE_" jdbcType="VARCHAR" property="title"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`
        ,`CONTENT_`,`NAME_`,`STATUS_`,`TITLE_`,`TYPE_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.system.model.Articles">
        insert into `t_articles` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{content,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.system.model.Articles">
        update `t_articles`
        <set>
            <if test="content!= null">
                `CONTENT_`=#{content,jdbcType=VARCHAR},
            </if>
            <if test="name!= null">
                `NAME_`=#{name,jdbcType=VARCHAR},
            </if>
            <if test="status!= null">
                `STATUS_`=#{status,jdbcType=VARCHAR},
            </if>
            <if test="title!= null">
                `TITLE_`=#{title,jdbcType=VARCHAR},
            </if>
            <if test="type!= null">
                `TYPE_`=#{type,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `t_articles`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="Articles">
        select
        <include refid="Base_Column_List"/>
        from `t_articles`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="Articles">
        select
        <include refid="Base_Column_List"/>
        from `t_articles`
        where 1=1
        <if test="search != null">
            and (`TITLE_` like '%${search}%' or `NAME_` like '%${search}%')
        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.system.model.query.ArticlesQuery" resultMap="Articles">
        select
        <include refid="Base_Column_List"/>
        from `t_articles`
        where 1=1
        <if test="title != null">
            and `TITLE_` like '%${title}%'
        </if>
        <if test="name != null">
            and `NAME_` like '%${name}%'
        </if>
        <if test="type != null">
            and `TYPE_` = #{type}
        </if>
        <if test="status != null">
            and `STATUS_` = #{status}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by `CREATE_TIME_` desc
    </select>
</mapper>
