<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.ISysDictTypeDao">
    <resultMap id="SysDictType" type="com.ares.core.model.system.SysDictType">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="DICT_NAME_" jdbcType="VARCHAR" property="dictName"/>
        <result column="DICT_TYPE_" jdbcType="VARCHAR" property="dictType"/>
        <result column="STATUS_" jdbcType="VARCHAR" property="status"/>
        <result column="REMARK_" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`,`DICT_NAME_`,`DICT_TYPE_`,`STATUS_`,`REMARK_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.core.model.system.SysDictType">
        insert into `sys_dict_type` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{dictName,jdbcType=VARCHAR},
        #{dictType,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.core.model.system.SysDictType">
        update `sys_dict_type`
        <set>
            <if test="dictName!= null">
                `DICT_NAME_`=#{dictName,jdbcType=VARCHAR},
            </if>
            <if test="dictType!= null">
                `DICT_TYPE_`=#{dictType,jdbcType=VARCHAR},
            </if>
            <if test="status!= null">
                `STATUS_`=#{status,jdbcType=VARCHAR},
            </if>
            <if test="remark!= null">
                `REMARK_`=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_dict_type`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysDictType">
        select
        <include refid="Base_Column_List"/>
        from `sys_dict_type`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysDictType">
        select
        <include refid="Base_Column_List"/>
        from `sys_dict_type`
        <where>
        <if test="search != null">

        </if>
        </where>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.core.model.query.SysDictTypeQuery" resultMap="SysDictType">
        select
        <include refid="Base_Column_List"/>
        from `sys_dict_type`
        <where>
        <if test="dictName != null">
            and `DICT_NAME_` like concat('%',#{dictName},'%')
        </if>
        <if test="dictType != null">
            and `DICT_TYPE_` like concat('%',#{dictType},'%')
        </if>
        <if test="status != null">
            and `STATUS_` = #{status}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        </where>
    </select>


</mapper>
