<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.ISysLoginInfoDao">
    <resultMap id="SysLoginInfo" type="com.ares.core.model.system.SysLoginInfo">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="USERNAME_" jdbcType="VARCHAR" property="userName"/>
        <result column="IP_ADDR_" jdbcType="VARCHAR" property="ipAddr"/>
        <result column="LOGIN_LOCATION_" jdbcType="VARCHAR" property="loginLocation"/>
        <result column="BROWSER_" jdbcType="VARCHAR" property="browser"/>
        <result column="OS_" jdbcType="VARCHAR" property="os"/>
        <result column="STATUS_" jdbcType="VARCHAR" property="status"/>
        <result column="MSG_" jdbcType="VARCHAR" property="msg"/>
        <result column="LOGIN_TIME_" jdbcType="VARCHAR" property="loginTime"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`
        ,`USERNAME_`,`IP_ADDR_`,`LOGIN_LOCATION_`,`BROWSER_`,`OS_`,`STATUS_`,`MSG_`,`LOGIN_TIME_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.core.model.system.SysLoginInfo">
        insert into `sys_login_info` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{userName,jdbcType=VARCHAR},
        #{ipAddr,jdbcType=VARCHAR},
        #{loginLocation,jdbcType=VARCHAR},
        #{browser,jdbcType=VARCHAR},
        #{os,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{msg,jdbcType=VARCHAR},
        #{loginTime,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.core.model.system.SysLoginInfo">
        update `sys_login_info`
        <set>
            <if test="userName!= null">
                `USERNAME_`=#{userName,jdbcType=VARCHAR},
            </if>
            <if test="ipAddr!= null">
                `IP_ADDR_`=#{ipAddr,jdbcType=VARCHAR},
            </if>
            <if test="loginLocation!= null">
                `LOGIN_LOCATION_`=#{loginLocation,jdbcType=VARCHAR},
            </if>
            <if test="browser!= null">
                `BROWSER_`=#{browser,jdbcType=VARCHAR},
            </if>
            <if test="os!= null">
                `OS_`=#{os,jdbcType=VARCHAR},
            </if>
            <if test="status!= null">
                `STATUS_`=#{status,jdbcType=VARCHAR},
            </if>
            <if test="msg!= null">
                `MSG_`=#{msg,jdbcType=VARCHAR},
            </if>
            <if test="loginTime!= null">
                `LOGIN_TIME_`=#{loginTime,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_login_info`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysLoginInfo">
        select
        <include refid="Base_Column_List"/>
        from `sys_login_info`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysLoginInfo">
        select
        <include refid="Base_Column_List"/>
        from `sys_login_info`
        <where>
        <if test="search != null">

        </if>
        </where>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.core.model.query.SysLoginInfoQuery" resultMap="SysLoginInfo">
        select
        <include refid="Base_Column_List"/>
        from `sys_login_info`
        <where>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        </where>
        order by `LOGIN_TIME_` desc
    </select>

    <update id="remove">
        truncate `sys_login_info`
    </update>
</mapper>
