<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.ISysMenuDao">
    <resultMap id="SysMenu" type="com.ares.core.model.system.SysMenu">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="NAME_" jdbcType="VARCHAR" property="name"/>
        <result column="DESCRIPTION_" jdbcType="VARCHAR" property="description"/>
        <result column="URL_" jdbcType="VARCHAR" property="url"/>
        <result column="PATH_" jdbcType="VARCHAR" property="path"/>
        <result column="IS_BLANK_" jdbcType="INTEGER" property="isBlank"/>
        <result column="PID_" jdbcType="VARCHAR" property="pId"/>
        <result column="ICON_" jdbcType="VARCHAR" property="icon"/>
        <result column="PERMS_" jdbcType="VARCHAR" property="perms"/>
        <result column="TYPE_" jdbcType="INTEGER" property="type"/>
        <result column="ORDER_" jdbcType="INTEGER" property="order"/>
        <result column="VISIBLE_" jdbcType="INTEGER" property="visible"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="childCount" jdbcType="INTEGER" property="childCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        `ID_`, `NAME_`, `DESCRIPTION_`, `URL_`,`PATH_`,`IS_BLANK_`,`PID_`,`PERMS_`,`TYPE_`,`ICON_`,`ORDER_`,`VISIBLE_`,`CREATOR_`,
        `CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>
    <insert id="insert" parameterType="com.ares.core.model.system.SysMenu">
        insert into sys_menu (<include refid="Base_Column_List"/>)
        values (
        #{id,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR},
        #{isBlank,jdbcType=INTEGER},
        #{pId,jdbcType=VARCHAR},
        #{perms,jdbcType=VARCHAR},
        #{type,jdbcType=INTEGER},
        #{icon,jdbcType=VARCHAR},
        #{order,jdbcType=INTEGER},
        #{visible,jdbcType=INTEGER},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.ares.core.model.system.SysMenu">
        update sys_menu
        <set>
            <if test="name != null">
                `NAME_` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                `DESCRIPTION_` = #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                `URL_` = #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                `PATH_` = #{path,jdbcType=VARCHAR},
            </if>
            <if test="isBlank != null">
                `IS_BLANK_` = #{isBlank,jdbcType=INTEGER},
            </if>
            <if test="pId != null">
                `PID_` = #{pId,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                `ICON_` = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                `PERMS_` = #{perms,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `TYPE_` = #{type,jdbcType=INTEGER},
            </if>
            <if test="order != null">
                `ORDER_` = #{order,jdbcType=INTEGER},
            </if>
            <if test="visible != null">
                `VISIBLE_` = #{visible,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID_ = #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_menu`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <select id="getMenuByUserId" parameterType="java.lang.String" resultMap="SysMenu">
        select
        menu.*, (SELECT count(1)FROM sys_menu WHERE PID_ = menu.ID_ and `TYPE_` != 2) as childCount
        from sys_menu menu
        <if test="userId != 1 and userId != null">
            left join sys_permission permission on menu.ID_ = permission.MenuId
            LEFT JOIN sys_role role on permission.ROLE_ID_ = role.ID_
            LEFT JOIN sys_role_user roleuser on role.ID_ = roleuser.ROLE_ID_
            left join sys_user user on roleuser.USER_ID_ = user.ID_
        </if>
        where menu.TYPE_ != 2
        <if test="userId != 1 and userId != null">
            and user.ID_ = #{userId,jdbcType=VARCHAR}
        </if>
        order by menu.ORDER_ asc
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where 1=1
        order by `ORDER_` asc
    </select>
    <select id="getById" parameterType="java.lang.Long" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>
    <select id="getByPId" parameterType="java.lang.String" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where `PID_` = #{pid,jdbcType=VARCHAR}
    </select>
    <select id="getMenuByRole" parameterType="java.lang.Long" resultType="java.lang.String">
        select `MENU_ID_`
        from `sys_permission`
        where `ROLE_ID_` = #{roleId,jdbcType=BIGINT}
    </select>

    <select id="selectList" parameterType="com.ares.core.model.query.SysMenuQuery" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu`
        where 1=1
        <if test="name != null and name != ''">
            and `NAME_` like concat('%', #{name}, '%')
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by `ORDER_` asc
    </select>

    <select id="selectListByUser" parameterType="com.ares.core.model.query.SysMenuQuery" resultMap="SysMenu">
        select
        <include refid="Base_Column_List"/>
        from `sys_menu` menu
        left join sys_permission permission on menu.ID_ = permission.MenuId
        LEFT JOIN sys_role role on permission.ROLE_ID_ = role.ID_
        LEFT JOIN sys_role_user roleuser on role.ID_ = roleuser.ROLE_ID_
        left join sys_user user on roleuser.USER_ID_ = user.ID_
        where user.ID_ = #{params.userId}
        <if test="name != null and name != ''">
            and `NAME_` like concat('%', #{name}, '%')
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        order by menu.`ORDER_` asc
    </select>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from `sys_menu` where `ID_` = #{menuId}
    </delete>

    <select id="hasChildByMenuId" parameterType="java.lang.String" resultType="Integer">
        select count(1) from `sys_menu` where `PID_` = #{menuId}
    </select>
</mapper>
