<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.ISysNoticeDao">
    <resultMap id="SysNotice" type="com.ares.core.model.system.SysNotice">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="DEADLINE_" jdbcType="TIMESTAMP" property="deadline"/>
        <result column="NOTICE_CONTENT_" jdbcType="VARCHAR" property="noticeContent"/>
        <result column="NOTICE_STATUS_" jdbcType="VARCHAR" property="noticeStatus"/>
        <result column="NOTICE_TITLE_" jdbcType="VARCHAR" property="noticeTitle"/>
        <result column="NOTICE_TYPE_" jdbcType="VARCHAR" property="noticeType"/>
        <result column="REMARK_" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`,`DEADLINE_`,`NOTICE_CONTENT_`,`NOTICE_STATUS_`,`NOTICE_TITLE_`,`NOTICE_TYPE_`,`REMARK_`,
        `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.core.model.system.SysNotice">
        insert into `sys_notice` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{deadline,jdbcType=TIMESTAMP},
        #{noticeContent,jdbcType=VARCHAR},
        #{noticeStatus,jdbcType=VARCHAR},
        #{noticeTitle,jdbcType=VARCHAR},
        #{noticeType,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.core.model.system.SysNotice">
        update `sys_notice`
        <set>
            <if test="deadline!= null">
                `DEADLINE_`=#{deadline,jdbcType=TIMESTAMP},
            </if>
            <if test="noticeContent!= null">
                `NOTICE_CONTENT_`=#{noticeContent,jdbcType=VARCHAR},
            </if>
            <if test="noticeStatus!= null">
                `NOTICE_STATUS_`=#{noticeStatus,jdbcType=VARCHAR},
            </if>
            <if test="noticeTitle!= null">
                `NOTICE_TITLE_`=#{noticeTitle,jdbcType=VARCHAR},
            </if>
            <if test="noticeType!= null">
                `NOTICE_TYPE_`=#{noticeType,jdbcType=VARCHAR},
            </if>
            <if test="remark!= null">
                `REMARK_`=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_notice`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysNotice">
        select
        <include refid="Base_Column_List"/>
        from `sys_notice`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysNotice">
        select
        <include refid="Base_Column_List"/>
        from `sys_notice`
        <where>
        <if test="search != null">

        </if>
        </where>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.core.model.query.SysNoticeQuery" resultMap="SysNotice">
        select
        <include refid="Base_Column_List"/>
        from `sys_notice`
        <where>
        <if test="noticeTitle != null">
            and `NOTICE_TITLE_` like concat('%', #{noticeTitle}, '%')
        </if>
        <if test="noticeType != null">
            and `NOTICE_TYPE_` = #{noticeType}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        </where>
    </select>

    <select id="noticeNum" resultType="integer">
        select count(1)
        from `sys_notice`
        where `NOTICE_STATUS_` = 0
        and `ID_` not in (
        select `NOTICE_ID_`
        from `sys_notice_read`
        WHERE `USER_ID_` = #{userId}
        )
        AND `DEADLINE_` > CURRENT_TIMESTAMP
    </select>

    <select id="getNotices" resultMap="SysNotice">
        SELECT
        notice.`ID_`,
        notice.`NOTICE_CONTENT_`,
        notice.`NOTICE_TITLE_`,
        notice.`NOTICE_TYPE_`,
        notice.`REMARK_`,
        notice.`CREATE_TIME_`,
        user.`USERNAME_` AS `CREATOR_`
        FROM
        `sys_notice` notice
        LEFT JOIN `sys_user` user ON notice.`CREATOR_` = USER.`ID_`
        WHERE
        notice.`NOTICE_STATUS_` = 0
        AND notice.`DEADLINE_` > CURRENT_TIMESTAMP
        order by notice.`CREATE_TIME_` desc
    </select>

</mapper>
