<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.system.dao.ISysUserDao">
    <resultMap id="SysUser" type="com.ares.core.model.system.SysUser">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="ACCOUNT_" jdbcType="VARCHAR" property="account"/>
        <result column="USERNAME_" jdbcType="VARCHAR" property="userName"/>
        <result column="PASSWORD_" jdbcType="VARCHAR" property="password"/>
        <result column="PHONE_NUMBER_" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="EMAIL_" jdbcType="VARCHAR" property="email"/>
        <result column="DEPT_ID_" jdbcType="BIGINT" property="deptId"/>
        <result column="POST_ID_" jdbcType="BIGINT" property="postId"/>
        <result column="AVATAR_" jdbcType="VARCHAR" property="avatar"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        `ID_`, `ACCOUNT_`, `USERNAME_`, `PASSWORD_`,`PHONE_NUMBER_`,`EMAIL_`,`DEPT_ID_`,`POST_ID_`,`AVATAR_`,`CREATOR_`
        ,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>
    <insert id="insert" parameterType="com.ares.core.model.system.SysUser">
        insert into `sys_user` (`ID_`, `ACCOUNT_`,
        `USERNAME_`,`PASSWORD_`,`PHONE_NUMBER_`,`EMAIL_`,`AVATAR_`,`DEPT_ID_`,`POST_ID_`,`CREATOR_` ,`CREATE_TIME_`,`MODIFIER_`,
        `MODIFY_TIME_`)
        values (#{id,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},#{phoneNumber,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
        #{avatar,jdbcType=VARCHAR}, #{deptId,jdbcType=VARCHAR},#{postId,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},#{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.ares.core.model.system.SysUser">
        update `sys_user`
        <set>
            <if test="account != null">
                `ACCOUNT_` = #{account,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                `USERNAME_` = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `PASSWORD_` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                `PHONE_NUMBER_` = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                `EMAIL_` = #{email,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                `AVATAR_` = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                `DEPT_ID_` = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="postId != null">
                `POST_ID_` = #{postId,jdbcType=BIGINT},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_user`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>
    <select id="getUserByName" parameterType="java.lang.String" resultMap="SysUser">
        select
        <include refid="Base_Column_List"/>
        from `sys_user`
        where `ACCOUNT_` = #{userName,jdbcType=VARCHAR}
    </select>
    <select id="getById" parameterType="java.lang.Long" resultMap="SysUser">
        select
        <include refid="Base_Column_List"/>
        from `sys_user`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysUser">
        select
        <include refid="Base_Column_List"/>
        from `sys_user`
        where 1=1
        <if test="search != null">
            and (`ACCOUNT_` like '%${search}%' or `USERNAME_` like '%${search}%')
        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="checkAccount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from `sys_user`
        where `ACCOUNT_` = #{userName,jdbcType=VARCHAR}
    </select>

    <update id="resetPassword">
        update `sys_user` set `PASSWORD_` = #{password}
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateUserByAccount" parameterType="com.ares.core.model.system.SysUser">
        update `sys_user`
        <set>
            <if test="userName != null">
                `USERNAME_` = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `PASSWORD_` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phoneNumber != null">
                `PHONE_NUMBER_` = #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                `EMAIL_` = #{email,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                `AVATAR_` = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                `DEPT_ID_` = #{deptId,jdbcType=VARCHAR},
            </if>
            <if test="postId != null">
                `POST_ID_` = #{postId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ACCOUNT_` = #{account,jdbcType=VARCHAR}
    </update>

    <select id="getUserByRole" parameterType="java.lang.String" resultMap="SysUser">
        select
        user.`ID_`, user.`ACCOUNT_`, user.`USERNAME_`, user.`PASSWORD_`,user.`PHONE_NUMBER_`,user.`EMAIL_`,user.`AVATAR_`,
        user.`CREATE_TIME_`, user.`MODIFY_TIME_`
        from `sys_user` user
        left join `sys_role_user` roleuser on user.ID_ = roleuser.USER_ID_
        where roleuser.ROLE_ID_ = #{roleId,jdbcType=VARCHAR}
    </select>

    <select id="allUser" parameterType="java.lang.String" resultMap="SysUser">
        select
        <include refid="Base_Column_List"/>
        from `sys_user`
        where `ID_` not in (
        select `USER_ID_`
        from `sys_role_user`
        where `ROLE_ID_` = #{roleId,jdbcType=VARCHAR}
        )
    </select>

    <select id="selectList" parameterType="com.ares.core.model.query.SysUserQuery" resultMap="SysUser">
        select
        <include refid="Base_Column_List"/>
        from `sys_user`
        where 1=1
        <if test="userName != null and userName != ''">
            and `USERNAME_` like concat('%', #{userName}, '%')
        </if>
        <if test="deptId != null">
            and `DEPT_ID_` in (select dept.`ID_` from `sys_dept` dept where dept.`ID_` = #{deptId,jdbcType=BIGINT} or dept.`PARENT_DEPT_ID_` = #{deptId,jdbcType=BIGINT})
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </select>
</mapper>
