<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.quartz.persistence.dao.ISysQuartzJobDao">
    <resultMap id="SysQuartzJob" type="com.ares.quartz.persistence.model.SysQuartzJob">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="JOB_NAME_" jdbcType="VARCHAR" property="jobName"/>
        <result column="JOB_GROUP_" jdbcType="VARCHAR" property="jobGroup"/>
        <result column="DESCRIPTION_" jdbcType="VARCHAR" property="description"/>
        <result column="INVOKE_TARGET_" jdbcType="VARCHAR" property="invokeTarget"/>
        <result column="CRON_EXPRESSION_" jdbcType="VARCHAR" property="cronExpression"/>
        <result column="CON_CURRENT_" jdbcType="VARCHAR" property="conCurrent"/>
        <result column="STATUS_" jdbcType="INTEGER" property="status"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID_, JOB_NAME_, JOB_GROUP_, DESCRIPTION_, INVOKE_TARGET_, CRON_EXPRESSION_, CON_CURRENT_, STATUS_,CREATOR_,
        CREATE_TIME_,MODIFIER_, MODIFY_TIME_
    </sql>
    <select id="list" parameterType="java.util.Map" resultMap="SysQuartzJob">
        select
        <include refid="Base_Column_List"/>
        from `sys_quartz_job`
        where 1=1
        <if test="search != null">
            and (`JOB_NAME_` like '%${search}%' or `JOB_GROUP_` like '%${search}%')
        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>
    <select id="getById" parameterType="java.lang.Long" resultMap="SysQuartzJob">
        select
        <include refid="Base_Column_List"/>
        from `sys_quartz_job`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_quartz_job`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.ares.quartz.persistence.model.SysQuartzJob">
        insert into sys_quartz_job (ID_, JOB_NAME_, JOB_GROUP_, DESCRIPTION_,
        INVOKE_TARGET_, CRON_EXPRESSION_,
        CON_CURRENT_, STATUS_,CREATOR_, CREATE_TIME_, MODIFIER_,
        MODIFY_TIME_)
        values (#{id,jdbcType=BIGINT}, #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},#{invokeTarget,jdbcType=VARCHAR}, #{cronExpression,jdbcType=VARCHAR},
        #{conCurrent,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},#{modifier,jdbcType=BIGINT},#{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="update" parameterType="com.ares.quartz.persistence.model.SysQuartzJob">
        update sys_quartz_job
        <set>
            <if test="jobName != null">
                JOB_NAME_ = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="jobGroup != null">
                JOB_GROUP_ = #{jobGroup,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION_ = #{description,jdbcType=VARCHAR},
            </if>
            <if test="invokeTarget != null">
                INVOKE_TARGET_ = #{invokeTarget,jdbcType=VARCHAR},
            </if>
            <if test="cronExpression != null">
                CRON_EXPRESSION_ = #{cronExpression,jdbcType=VARCHAR},
            </if>
            <if test="conCurrent != null">
                CON_CURRENT_ = #{conCurrent,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS_ = #{status,jdbcType=INTEGER},
            </if>
            <if test="creator != null">
                CREATOR_ = #{creator,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                MODIFIER_ = #{modifier,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                MODIFY_TIME_ = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID_ = #{id,jdbcType=BIGINT}
    </update>

    <select id="checkUnique" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1)
        from `sys_quartz_job`
        where `JOB_NAME_` = #{jobName,jdbcType=VARCHAR}
    </select>

    <select id="selectList" parameterType="com.ares.quartz.model.query.SysQuartzJobQuery" resultMap="SysQuartzJob">
        select
        <include refid="Base_Column_List"/>
        from `sys_quartz_job`
        where 1=1
        <if test="jobName != null and jobName != ''">
            and `JOB_NAME_` like concat('%', #{jobName}, '%')
        </if>
        <if test="jobGroup != null and jobGroup != ''">
            and `JOB_GROUP_` = #{jobGroup}
        </if>
        <if test="status != null">
            and `STATUS_` = #{status}
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`Create_time`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </select>

</mapper>
