<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.flowable.persistence.dao.ISysDeployFormDao">
    <resultMap id="SysDeployForm" type="com.ares.flowable.persistence.model.SysDeployForm">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="FORM_ID_" jdbcType="BIGINT" property="formId"/>
        <result column="DEPLOY_ID_" jdbcType="VARCHAR" property="deployId"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`
        ,`FORM_ID_`,`DEPLOY_ID_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.flowable.persistence.model.SysDeployForm">
        insert into `sys_deploy_form` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{formId,jdbcType=BIGINT},
        #{deployId,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.flowable.persistence.model.SysDeployForm">
        update `sys_deploy_form`
        <set>
            <if test="formId!= null">
                `FORM_ID_`=#{formId,jdbcType=BIGINT},
            </if>
            <if test="deployId!= null">
                `DEPLOY_ID_`=#{deployId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_deploy_form`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysDeployForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_deploy_form`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysDeployForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_deploy_form`
        where 1=1
        <if test="search != null">

        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.flowable.model.query.SysDeployFormQuery" resultMap="SysDeployForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_deploy_form`
        where 1=1
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectSysDeployFormList" parameterType="com.ares.flowable.model.query.SysDeployFormQuery"
            resultMap="SysDeployForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_deploy_form`
        <where>
            <if test="formId != null ">and FORM_ID_ = #{formId}</if>
            <if test="deployId != null  and deployId != ''">and DEPLOY_ID_ = #{deployId}</if>
        </where>
    </select>

    <select id="selectSysDeployFormById" parameterType="java.lang.Long" resultMap="SysDeployForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_deploy_form`
        where id = #{id}
    </select>

    <select id="selectSysDeployFormByDeployId" resultType="com.ares.flowable.persistence.model.SysForm">
        select t1.FORM_CONTENT_ as formContent, t1.FORM_NAME_ as formName, t1.ID_ as id
        from sys_form t1
        left join sys_deploy_form t2 on t1.ID_ = t2.FORM_ID_
        where t2.DEPLOY_ID_ = #{deployId} limit 1
    </select>

</mapper>
