<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.flowable.persistence.dao.ISysFormDao">
    <resultMap id="SysForm" type="com.ares.flowable.persistence.model.SysForm">
        <id column="ID_" jdbcType="BIGINT" property="id"/>
        <result column="FORM_NAME_" jdbcType="VARCHAR" property="formName"/>
        <result column="FORM_CONTENT_" jdbcType="VARCHAR" property="formContent"/>
        <result column="REMARK_" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATOR_" jdbcType="BIGINT" property="creator"/>
        <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER_" jdbcType="BIGINT" property="modifier"/>
        <result column="MODIFY_TIME_" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        `ID_`
        ,`FORM_NAME_`,`FORM_CONTENT_`,`REMARK_`, `CREATOR_`,`CREATE_TIME_`,`MODIFIER_`, `MODIFY_TIME_`
    </sql>

    <insert id="insert" parameterType="com.ares.flowable.persistence.model.SysForm">
        insert into `sys_form` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=BIGINT},
        #{formName,jdbcType=VARCHAR},
        #{formContent,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{creator,jdbcType=BIGINT},
        #{createTime,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=BIGINT},
        #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.ares.flowable.persistence.model.SysForm">
        update `sys_form`
        <set>
            <if test="formName!= null">
                `FORM_NAME_`=#{formName,jdbcType=VARCHAR},
            </if>
            <if test="formContent!= null">
                `FORM_CONTENT_`=#{formContent,jdbcType=VARCHAR},
            </if>
            <if test="remark!= null">
                `REMARK_`=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                `CREATOR_` = #{creator,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                `CREATE_TIME_` = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null">
                `MODIFIER_` = #{modifier,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                `MODIFY_TIME_` = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where `ID_` = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from `sys_form`
        where `ID_` in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getById" parameterType="java.lang.Long" resultMap="SysForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_form`
        where `ID_` = #{id,jdbcType=BIGINT}
    </select>

    <select id="list" parameterType="java.util.Map" resultMap="SysForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_form`
        where 1=1
        <if test="search != null">

        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `CREATE_TIME_` desc
        </if>
    </select>

    <select id="selectList" parameterType="com.ares.flowable.model.query.SysFormQuery" resultMap="SysForm">
        select
        <include refid="Base_Column_List"/>
        from `sys_form`
        where 1=1
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CREATE_TIME_`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
    </select>
</mapper>
